<a href="https://colab.research.google.com/github/BhargavaGY/Python_Projects/blob/main/LinearRegression1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import os
os.environ['KAGGLE_CONFIG_DIR'] = '/content'

In [2]:
! kaggle datasets download -d uciml/red-wine-quality-cortez-et-al-2009

Warning: Your Kaggle API key is readable by other users on this system! To fix this, you can run 'chmod 600 /content/kaggle.json'
Downloading red-wine-quality-cortez-et-al-2009.zip to /content
  0% 0.00/25.6k [00:00<?, ?B/s]
100% 25.6k/25.6k [00:00<00:00, 15.7MB/s]

In [6]:
!unzip /*.zip && rm /*.zip

unzip:  cannot find or open /*.zip, /*.zip.zip or /*.zip.ZIP.

No zipfiles found.

In [9]:
import pandas as pd
df = pd.read_csv('winequality-red.csv', sep=',')

In [10]:
df

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
1,7.8,0.880,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8,5
2,7.8,0.760,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8,5
3,11.2,0.280,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8,6
4,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
...,...,...,...,...,...,...,...,...,...,...,...,...
1594,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5,5
1595,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,0.76,11.2,6
1596,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,6
1597,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2,5
1598,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0,6

In [11]:
df.shape

(1599, 12)

In [12]:
df.info

<bound method DataFrame.info of       fixed acidity  volatile acidity  citric acid  residual sugar  chlorides  \
0               7.4             0.700         0.00             1.9      0.076
1               7.8             0.880         0.00             2.6      0.098
2               7.8             0.760         0.04             2.3      0.092
3              11.2             0.280         0.56             1.9      0.075
4               7.4             0.700         0.00             1.9      0.076
...             ...               ...          ...             ...        ...
1594            6.2             0.600         0.08             2.0      0.090
1595            5.9             0.550         0.10             2.2      0.062
1596            6.3             0.510         0.13             2.3      0.076
1597            5.9             0.645         0.12             2.0      0.075
1598            6.0             0.310         0.47             3.6      0.067

      free sulfur dioxide  total sulfur dioxide  density    pH  sulphates  \
0                    11.0                  34.0  0.99780  3.51       0.56
1                    25.0                  67.0  0.99680  3.20       0.68
2                    15.0                  54.0  0.99700  3.26       0.65
3                    17.0                  60.0  0.99800  3.16       0.58
4                    11.0                  34.0  0.99780  3.51       0.56
...                   ...                   ...      ...   ...        ...
1594                 32.0                  44.0  0.99490  3.45       0.58
1595                 39.0                  51.0  0.99512  3.52       0.76
1596                 29.0                  40.0  0.99574  3.42       0.75
1597                 32.0                  44.0  0.99547  3.57       0.71
1598                 18.0                  42.0  0.99549  3.39       0.66

      alcohol  quality
0         9.4        5
1         9.8        5
2         9.8        5
3         9.8        6
4         9.4        5
...       ...      ...
1594     10.5        5
1595     11.2        6
1596     11.0        6
1597     10.2        5
1598     11.0        6

[1599 rows x 12 columns]>

In [13]:
df.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [14]:
df.tail()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
1594,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5,5
1595,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,0.76,11.2,6
1596,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,6
1597,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2,5
1598,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0,6

In [16]:
x = df.iloc[:,:-1].values
x.shape

(1599, 11)

In [17]:
x[0]

array([ 7.4   ,  0.7   ,  0.    ,  1.9   ,  0.076 , 11.    , 34.    ,
        0.9978,  3.51  ,  0.56  ,  9.4   ])

In [19]:
y = df.iloc[:,-1]
y

0       5
1       5
2       5
3       6
4       5
       ..
1594    5
1595    6
1596    6
1597    5
1598    6
Name: quality, Length: 1599, dtype: int64

In [23]:
df['quality'].unique()

array([5, 6, 7, 4, 8, 3])

In [26]:
y = df.iloc[:,-1].values

In [28]:
y.shape

(1599,)

In [29]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y, train_size=0.75)

In [30]:
x_train.shape

(1199, 11)

In [32]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()

In [34]:
model

LinearRegression()

In [35]:
model.fit(x_train, y_train)

LinearRegression()

In [36]:
y_pred = model.predict(x_test)

In [37]:
y_pred

array([6.27495584, 5.08852592, 6.18174898, 5.94457133, 5.30763458,
       4.61824679, 5.36825866, 5.24426281, 5.53039344, 5.40497752,
       5.81212289, 5.37669522, 5.88696927, 5.64275783, 5.46763157,
       5.02363813, 6.12181789, 5.50606936, 5.18248032, 5.40356906,
       5.47990859, 5.06274224, 5.14108253, 6.13137579, 5.32113409,
       5.71945774, 5.09138027, 6.29933292, 4.9545142 , 5.58361458,
       5.27973069, 5.23687336, 6.25552948, 6.15881958, 5.66543446,
       5.1088798 , 5.19538814, 5.40306756, 6.37436431, 5.63868804,
       5.57349059, 5.16672869, 5.96303834, 5.05401215, 6.0288671 ,
       5.96362539, 4.72286668, 5.99333434, 6.04226995, 5.77177924,
       6.48983054, 5.26124385, 5.0947501 , 5.86174187, 5.82468709,
       5.52451148, 6.29095735, 5.78780948, 6.14287141, 5.50473138,
       6.0111578 , 5.22633507, 6.26980631, 6.75595724, 4.95011803,
       5.24512826, 6.16753194, 5.29011693, 6.22819013, 6.28324895,
       5.29145155, 6.28443028, 6.55948459, 5.26147039, 5.5704462 ,
       5.47617735, 5.83988738, 5.33870468, 6.28834689, 6.09526977,
       5.92659161, 5.57031079, 5.44368494, 5.86756766, 6.0992977 ,
       5.31288601, 6.00825315, 5.59217838, 6.03874154, 5.02666386,
       5.47617735, 5.40306756, 5.27034787, 5.53945065, 6.09590864,
       6.76138217, 6.14873263, 5.17010429, 6.15873727, 6.48799024,
       6.14088591, 4.8487223 , 5.89932272, 5.08910633, 5.27826761,
       6.43633128, 5.715097  , 5.58519874, 6.2101812 , 6.19387563,
       5.75818019, 5.02711782, 6.11468987, 5.78573094, 6.52070338,
       6.1169238 , 6.27618028, 6.05383624, 6.25054557, 5.15168671,
       6.03794117, 6.18838181, 5.12609081, 5.17010429, 5.70641652,
       5.15085333, 4.95591914, 6.60584143, 5.59878308, 5.38103437,
       5.00944257, 5.74591002, 6.2549652 , 6.41469444, 5.72177379,
       5.69663241, 5.74750272, 6.00578255, 5.1474195 , 5.47990859,
       5.8362297 , 6.02852458, 6.2237983 , 5.30763458, 5.72510091,
       5.06175445, 6.58131425, 5.36994814, 5.82634439, 5.32227049,
       6.29822479, 5.02459938, 5.66272369, 5.95020551, 6.0410798 ,
       5.75183192, 6.21761875, 5.30217152, 5.21514386, 5.56512403,
       5.05842273, 6.63271919, 5.37390166, 5.29092591, 5.60561898,
       5.63820586, 6.13096212, 5.2496124 , 5.34727896, 5.74071178,
       6.11108117, 5.55816999, 5.08889425, 6.66735378, 5.29263448,
       5.71882596, 5.76812038, 6.04572834, 6.11385579, 5.56232032,
       5.37021647, 5.53776514, 5.04726168, 5.19350909, 5.68936984,
       5.33967491, 5.05938289, 6.51098598, 6.42249579, 4.97349098,
       6.42380853, 4.88167431, 6.24344331, 5.72935152, 5.88717206,
       6.50903834, 5.04895668, 5.74750272, 6.19055363, 4.91099321,
       5.16291963, 5.16810316, 6.14611814, 6.16635184, 5.27873784,
       5.90609547, 6.50341717, 5.33227281, 6.08424968, 5.1298621 ,
       6.23757791, 5.3963424 , 6.21149469, 5.44855255, 5.11914524,
       5.02492237, 5.75660017, 5.88800917, 6.0080536 , 5.50068955,
       5.30574232, 5.74750272, 5.43102435, 5.30485269, 6.11583074,
       5.89846692, 5.69254488, 5.7921635 , 6.37197422, 4.82375102,
       5.69276957, 6.04473849, 5.65764595, 5.4288612 , 5.39936102,
       5.06869574, 5.63342143, 5.67973761, 5.37132564, 5.18398933,
       6.46715813, 4.86105147, 4.98473146, 5.90840122, 5.41714928,
       5.33414132, 5.37283419, 5.06147036, 5.08524146, 5.08278746,
       4.70175053, 5.27520882, 5.30485269, 6.40959   , 5.24831456,
       6.43149175, 6.29108721, 5.45033069, 5.43513322, 5.9165891 ,
       5.60693342, 5.83914684, 5.56179739, 5.61425677, 5.33182513,
       5.19396324, 5.76020044, 6.14088591, 5.68546606, 5.46186264,
       5.38446966, 5.63820586, 6.1558091 , 5.12659398, 6.79856352,
       5.60985665, 5.44189722, 5.44339276, 5.13824442, 6.40841613,
       6.27359204, 5.99294154, 5.44595902, 5.22923458, 4.94991802,
       5.49848432, 5.01983844, 5.21496939, 5.18794257, 5.2301124 ,
       5.55588311, 5.65072989, 5.73003242, 5.08200593, 5.33393946,
       6.01668985, 5.11817812, 5.43306213, 5.4442603 , 5.35108506,
       5.82311391, 5.4963157 , 5.3562174 , 6.48855731, 6.40599382,
       6.00412884, 5.92711408, 5.03612322, 5.07659088, 5.40193771,
       5.02015807, 6.41189532, 5.76142444, 5.76291305, 5.66528036,
       5.65273511, 4.76156324, 4.79138736, 5.11722914, 6.49644853,
       4.91357213, 5.8164473 , 5.1298621 , 5.6896766 , 5.30604824,
       6.51973581, 5.65709341, 5.66733992, 5.21511693, 6.24214766,
       5.49401182, 6.21057677, 5.25042033, 4.79385385, 5.80373931,
       5.49451158, 6.54246117, 6.38474272, 5.22633507, 5.0748988 ,
       5.60260136, 5.37283419, 5.58922865, 5.76812038, 5.36910328,
       5.56398002, 6.47084031, 4.96549326, 4.53189664, 5.3539937 ,
       5.83211375, 5.45997403, 6.56595917, 5.89624374, 4.80941668,
       6.25867775, 5.20217862, 6.16753194, 5.02101575, 5.37021647,
       5.85124148, 6.02363598, 5.94375113, 6.4050168 , 5.63931719,
       5.90368252, 5.17155616, 5.12880961, 6.53545176, 5.55522847,
       5.65072989, 5.17072335, 5.73999569, 5.49370435, 5.20605627,
       6.02009345, 4.76768713, 5.39908396, 5.4835811 , 6.62567182,
       5.88637486, 5.35250073, 5.45946841, 5.80142923, 5.7196143 ,
       6.18180388, 5.38307822, 5.90944609, 5.25545873, 5.45997403,
       5.48840434, 6.31238291, 5.38710368, 5.71141038, 5.32823691,
       5.29713282, 5.00003564, 5.49307497, 6.22990731, 6.63011783])

In [38]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test, y_pred)

ValueError: ignored

In [40]:
model.score(x_test,y_test)

0.36470074606400715